body{
    background: #7dc6d9;
}
.container{
    margin-top: 10px;
    /*margin-left: 70%;*/
    width: 25%;
    height: 240px;
    background: white;
    border-radius: 15px; /*div圆角*/
}
.form-signin{
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;

}
.form-control{
    text-indent: 10%;
    height: 45px;
}
.form-username{
    background: url("../../../icon/login-locked-icon.png") no-repeat 15px center;
}
.form-password{
    background: url("../../../icon/login-key-icon.png") no-repeat 15px center;
    margin-top: 20px;
}
.tree-default{
    margin-top: 8%;
    width:50px;
    height:50px;
}
.tree-folder{
    margin:0 auto;/* div居中 */
    border-radius: 25px;
    background: url("../../../icon/icoses.jpg") -165px -215px no-repeat; /*背景图片位置，第一个参数控制左右，第二个参数控制上下*/
}

.register {
    margin-left: 60%;
}