*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: #7dc6d9;
}
.chat {
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -30%;
    background: #ffffff;
    width: 60%;
    height: 500px;
}
.friends {
    float:right;
    background: #aeaeff;
    width: 20%;
    height: 100%;
}

.item {
    border-bottom: solid 1px #41ffa2;
    font-size: 18px;
    text-align:center;
    width: 100%;
    cursor: pointer;
}
.item a {
    display: block;
    background: #ceffa0;
    height: 50px;
    line-height: 50px;

}
.item ul{
    display: none;
    background: #fff;
    margin-bottom: 0;
}
.item ul li{
    border-top: solid 1px #41ffa2;
    height: 50px;
    line-height: 50px;
}
.messageControl {
    width: 80%;
    height: 320px;
}
.messageControl .control{
    background: #ccc;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
}
.messageMessage {
    width: 80%;
    height: 250px;
}
.messageMessage .message{
    background: #ccc;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
    padding-left: 10px; 
}
.msgTextarea {
    width: 100%;
    height: 130px;
}
.aa {
    width: 20%;
    height: 10%;
}
